<!-- Pertemuan 3 -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONTAK KANG</title>
</head>
<body>
    <h1>Sugeng Rawuh</h1>
    <p>ke halaman kontak</p>
    <a href="/contact">contact</a>
</body>
</html>