<!-- Pertemuan 3 -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONTAK KANG</title>
</head>
<body>
    <h1>Sugeng Rawuh</h1>
    <p>ke halaman kontak</p>
    <a href="/contact"><button>Contact</button></a>
    <p>ke halaman todos</p>
    <a href="/todos-list"><button>Todos List</button></a>
    
</body>
</html>